/* 
Border-radius: Es la propiedad que nos permite redondear vertices de forma independiente.
Es un shorthand que engloba 4 propiedades:
   border-top-left-raidus -> Radio del borde superior izquierdo
   border-top-rigth-radius -> Radio del borde superior derecho
   border-bottom-rigth-radius -> Radio del borde inferior derecho
   border-bottom-left-radius -> Radio del borde inferior izquierdo

   Si solo recibe un valor dibujara un circulo en cada vertice del radio que especifiquemos

   border-radius: 50px; -> Circulo con 50px de radio

   Si utilizamos el border-radius como shorthand hay diferencia entre si queremos dar un valor a cada laso (circulo) o dos (elipse).
 */

 *{
     box-sizing: border-box;
 }

 body{
     background-color: #333;
     color: #fff;
     margin: 0;
 }

 /* 
 Border Radius
      margin-left: auto;
     margin-right: auto;
     margin-top: 100px;
     background-color: lightcyan;
     width: 300px;
     height: 300px;
     /* border-radius: 50px;
     border-top-left-radius: 50px;
     border-top-right-radius: 100px;
     border-bottom-right-radius: 150px;
     border-bottom-left-radius: 200px;
     border-radius: 50px 100px 150px 200px; */
 
 .box{
     margin-left: auto;
     margin-right: auto;
     margin-top: 100px;
     background-color: lightcyan;
     width: 300px;
     height: 300px;
     /* border-radius: 50px;
     border-top-left-radius: 50px;
     border-top-right-radius: 100px;
     border-bottom-right-radius: 150px;
     border-bottom-left-radius: 200px;
     border-radius: 50px 100px 150px 200px; */
     border-top-left-radius: 50px 100px;
     /* Le indicamos que queremos una elipse */
     border-radius: 50px 100px 150px 200px / 100px 150px 200px 250px;
 } 

 