/* 
      Fixed -> El elemento perdera sus medidas y su espacio reservado.
      Si lo movemos usara el elemento html de referencia, y ademas se qudara fijo en esa posicion aunque hagamos scroll.

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #333;
    color: #fff;
    padding-top: 70px;
}

.header{
    text-align: center;
    padding: 25px 0;
    background-color: lightskyblue;
    color: orangered;
    /* position: sticky;
    top: 0; */
    height: 200px;
    overflow: visible;
}

.menu{
    position: sticky;
    top: 0;
}

article{
    outline: 3px solid red;
}

.article-tittle{
    position: sticky;
    top: 0;
    background-color: #333;
    margin: 0;
}

.link{
    position: fixed;
    background-color: lightcoral;
    width: 200px;
}

.img-container{
    text-align: center;
}